{
	skip_install_trust # caddy is running as non-root, therefore CA trust installation won't work (and isn't needed anyway inside the container)
	http_port 8080
	https_port 8443
	order coraza_waf first
	{$CADDY_EXTRA_GLOBAL_DIRECTIVES}
}

(waf) {
	coraza_waf {
		load_owasp_crs
		directives `
		Include @coraza.conf-recommended
		Include @crs-setup.conf.example
		Include @owasp_crs/*.conf
		SecRuleEngine on
		`
	}
}

(proxy_vault) {
	reverse_proxy vault:{$VAULT_API_PORT} {
		header_up Host              {host}
		header_up X-Real-IP         {remote_host}
	}
}

# Setting HTTP_DOMAINS? to null (empty string) will NOT trigger default replacement!
# Unset the the variable instead if you want the default value.
# https://caddyserver.com/docs/caddyfile/concepts#environment-variables
{$HTTP_DOMAINS:http://localhost} {$HTTPS_DOMAINS:https://localhost} {
	{$CADDY_EXTRA_SITE_DIRECTIVES}
	log
	handle {
		import waf
		root * /frontend/dist/
		try_files {path} /index.html
		file_server
	}
	handle_path /uploads/* {
		import waf
		root * /frontend/uploads
		file_server
	}
	handle_path /api/* {
		import waf
		reverse_proxy backend:{$BACKEND_PORT}
	}
	handle_path /kibana* {
		reverse_proxy kibana:{$KIBANA_PORT}
	}
	handle /ws { # websocket route must not use coraza WAF, otherwise it breaks
		reverse_proxy backend:{$BACKEND_PORT}
	}

    handle_path /vault* {
		import waf
		import proxy_vault
    }

    handle_path /ui/* {
		import waf
        rewrite * /ui{path}
		import proxy_vault
    }

    handle_path /v1/* {
        rewrite * /v1{path}
		import proxy_vault
    }

}

# Proper healthcheck
http://localhost:12345 {
	handle /caddy_health {
		respond "OK" 200
	}
}
